/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/profiles.clj
config-local.edn
resources/public/js/out
resources/public/js/app.js
.repl
sessionkey
out
*.log
.DS_Store
