body {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.item-control-type-selected {
  font-weight: bold;
}

.item-control-type-deselected {
  font-weight: normal;
}

.item-control {
  margin: 5px;
  font-size: large;
}

.item-name {
  font-size: large;
}

.icon-ok {
  margin: 5px;
  font-size: large;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.items {
  display: flex;
  flex-direction: row;
}

.item-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5px;
  vertical-align: top;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0 0 10 0;
}

.logout {
  display: flex;
  margin: 20 5 5 5;
  padding: 5px;
}

.item-controls {
  padding: 5px;
}

.new-item {
  display: flex;
  flex-direction: row;
}

.new-item input {
  flex-grow: 5;
  font-size: large;
  margin: 5px;
}

.new-item button {
  flex-grow: 1;
  font-size: large;
  margin: 5px;
}

.matches {
  width: calc(50% - 30px);
  margin: 0 5 0 5;
  position: absolute;
  background-color: white;
  border-style: solid;
  border-width: 1px;
}

.matches li {
  padding: 5 0 5 0;
}

.match-selected {
  background-color: rgba(0, 0, 255, 0.2);
}

.match-deselected {
  background-color: white;
}

.matches-visible {
  display: inline;
}

.matches-invisible {
  display: none;
}

@media (max-width: 640px) {
  .items {
    flex-direction: column;
  }

  .item-box {
    width: 100%;
  }

  .matches {
    width: calc(100% - 28px);
  }

  .matches li {
    padding: 8 0 8 0;
  }

  .icon-ok {
    width: 80px;
    font-size: larger;
  }

  .item-control {
    width: 80px;
    font-size: larger;
  }
}
